$black: #191B1D;

$line: #DBE4EB;

$gray: #F0F4F6;
$gray-darker: #C4D1D9;
$body: #3A3D40;

$orange: #FF6854;
$orange-hover: #ff816e;
$orange-active: #fc8d7c;

$purple: #7734FC;
$purple-hover: #8e59ff;
$purple-active: #9b6efc;

$smoke: #6D767E;
$smoke-hover: #a8b3b9;

$light-red: #ffe2e2;
$error: #FF2727;


$transition-timing-default: .3s